body {
  padding: 0;
  font-family: Arial;
}

#navbar {
  text-align: right;
  background-color: rgb(240, 229, 229);
  padding: 20px 20px;
}

nav {
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline;
  margin-left: 20px;
}

li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 20px;
}

li a:hover {
  text-decoration: underline;
}

/* Home */
.hero-section {
  margin-top: px;
  background-image: url("/libraryM/image/library.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}
.hero-section h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.hero-section p {
  font-size: 1.25rem;
  margin-bottom: 40px;
}
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
